.my-message{

    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: cornflowerblue; */
    justify-content: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}
.not-my-message{

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background-color: cornflowerblue; */
    justify-content: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.my-message p,.not-my-message p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    background-color: #2ecc71;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    max-width: 300px;
    
    /* word-wrap: normal; */
}
.not-my-message p{
    background-color: #3498db;
    /* word-wrap: break-word; */
}

.displayPic{

    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
}
