.my-message{

    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: cornflowerblue; */
    justify-content: flex-end;
}
.not-my-message{

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background-color: cornflowerblue; */
    justify-content: flex-end;
}

.my-message p,.not-my-message p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    background-color: darkblue;
    padding: 10px;
    border-radius: 10px;
}
.not-my-message p{
    background-color: darkgoldenrod;
}

.displayPic{

    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
}
